include image-caption.jade

mixin large-image-text(headline, copy, buttonCopy, buttonLink, img, caption1, caption2)
	.large-image-text
		.content-wrap
			+image-caption(img, caption1, caption2)
			if headline
				.row
					.col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
						h2.title-1= headline
						p.copy-2= copy
						if buttonCopy
							a.btn.btn--primary-navigation(href=buttonLink)= buttonCopy

mixin small-image-text-left(headline, copy, buttonCopy, buttonLink, img, caption1, caption2)
	.small-image-text
		.content-wrap
			.row
				.col-xs-12.col-lg-5
					+image-caption(img, caption1, caption2)
				.col-xs-12.col-lg-6.col-lg-offset-1
					.text-container
						h2.title-2= headline
						p.copy-2= copy
						if buttonCopy
							a.btn.btn--primary-navigation(href=buttonLink)= buttonCopy

mixin small-image-text-right(headline, copy, buttonCopy, buttonLink, img, caption1, caption2)
	.small-image-text
		.content-wrap
			.row
				.col-xs-12.col-lg-5.last-lg.col-lg-offset-1
					+image-caption(img, caption1, caption2)
				.col-xs-12.col-lg-6
					.text-container
						h2.title-2= headline
						p.copy-2= copy
						if buttonCopy
							a.btn.btn--primary-navigation(href=buttonLink)= buttonCopy